.navbar {
    padding: 0.6rem;
}

.navbar-brand img{
    max-width: 95%;
}

.navbar-nav li {
    padding-right: 0.4rem;
    font-size: 1.15rem;
}

.navbar-nav li:last-of-type {
    padding-right: 0.6rem;
}

.dropdown #dropdownMenuButtonManufacturers, .dropdown #dropdownMenuButtonShapes {
    font-size: 1.15rem;  
}

.navbar img {
    width: 40vmax;
}

.main-body {
    background-color: coral;
    border-radius: 10px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

.main-body h2 {
    padding-left: 4rem;
    padding-top: 1.2rem;
    font-size: 2.6rem;
    font-weight: bold;
}

.content-body p {
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 2rem;
}

.content-body figure {
    align-content: center;
}

.content-body .row img {
    max-height: 500px;
    width: auto;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.debug {
    border-style: solid;
}

figcaption {
    text-align: center;
    font-size: 1.2rem;
}

#guitar-construcion-img {
    max-height: 55vh;
    transform: translate();
}

.zoom-animation {
    transition: transform .2s;
}

.zoom-animation:hover {
    /* remove zoom on small screens */
    transform: scale(1.4);
}

.glow-animation {
    animation: glow-out 0.75s forwards;
}

.glow-animation:hover {
    animation: glow-in 0.75s forwards;
}

@keyframes glow-in {
    from {
        filter: drop-shadow(0 0 0rem white);
    }
    to {
        filter: drop-shadow(0 0 1rem white);
    }
}

@keyframes glow-out {
    from {
        filter: drop-shadow(0 0 1rem white);
    }
    to {
        filter: drop-shadow(0 0 0rem white);
    }
}

.end-links {
    font-size: 1.4rem;
}

.top-margin {
    margin-top: 32px;
}

.bottom-margin {
    margin-bottom: 32px;
}

.grid-container-shapes {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-container-manufacturers {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.grid-item {
    padding: 20px;
    padding-bottom: 5px;
    /*border: 2px solid black;*/
}