.navbar {
    padding: 0.6rem;
}

.navbar-brand img{
    max-width: 95%;
}

.navbar-nav li {
    padding-right: 0.4rem;
    font-size: 1.15rem;
}

.navbar-nav li:last-of-type {
    padding-right: 0.6rem;
}

.dropdown #dropdownMenuButton {
    font-size: 1.15rem;  
}

.navbar img {
    width: 40vmax;
}

.main-body {
    background-color: #FF9900;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}