nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 10px;
    padding: 10px;
    border-bottom: 6px solid grey;
    border-right: 4px solid #999999;
    border-left: 4px solid #999999;
}

nav img {
    height: 64px;
    width: auto;
    vertical-align: middle;
}

.tooltip {
    display: inline-flex;
    align-self: center;
    text-decoration: none;
}

@media screen and (min-width: 940px) {
    .tooltip .tooltiptext {
        visibility: hidden;
        align-self: center;
        margin-left: 10px;
        color: black;
        padding: 5px;
        font-size: 2.4rem;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }
}

@media screen and (max-width: 939px) {
    .tooltip .tooltiptext {
        display: none;
    }
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

@media screen and (min-width: 800px){
    .navbar-expand-items {
        display: none;
    }

    .navbar-item {
        vertical-align: middle;
        font-size: 2rem;
        margin: 6px;
        padding: 5px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .navbar-item:last-of-type {
        margin-right: 20px;
    }
    
}

@media screen and (max-width: 799px) {
    .navbar-container {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
    }
    
    .navbar-expand-items button {
        margin-right: 20px;
        border-style: 2px solid black;
        border-radius: 10px;
        background: none;
    }

    .navbar-expand-items button img {
        padding: 5px;
    }
    
    .navbar-item {
        margin: 1px;
        padding: 1px;
        margin-right: 20px;
        display: none;
    }

    .navbar-container:hover .navbar-item {
        display: flex;
    }
} 


.navbar-item a {
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.navbar-item a:hover {
    text-shadow: 0 0 2px black;
}

.dropdown {
    position: relative;
    display: inline-flexbox;
    width: 100%;
}

.dropdown-button {
    border: none;
    padding: 0px;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: none;
}

.dropdown-items {
    display: none;
    position: absolute;
    text-align: left;
    background: lightgrey;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    left: auto;
    right: 0;
}

.dropdown-items a {
    text-decoration: none;
    width: 100%;
    margin: 10px;
}

.dropdown:hover .dropdown-button {
    text-shadow: 0 0 2px black;
}

.dropdown:hover .dropdown-items {
    display: block;
}

.dropdown-items a:hover {
    text-shadow: 0 0 2px black;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0px;
}

.p-20 {
    padding: 20px;
}

.logo img {
    width: 50%;
    height: auto;
    transform: translate(50%, 0);
    margin-top: 32px;
    margin-bottom: 32px;
}

.border-radius-10 {
    border-radius: 10px;
}

.background-gradient {
    background-image: linear-gradient(white, lightsteelblue);
}

.main-body {
    padding: 20px;
    font-size: 1.4rem;
    line-height: 2rem;
    border-radius: 10px;
}

h2 {
    margin-left: 2vw;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (min-width: 1000px){

    .grid-container {
        border: 2px solid red;
        display: grid;
        grid-template-columns: repeat(auto-fill, 25%);
        justify-content: center;
        object-fit: cover;
    }
}

@media screen and (max-width: 999px) {
    .grid-container {
        border: 2px solid red;
        display: grid;
        grid-template-columns: repeat(auto-fill, 50%);
        justify-content: center;
        object-fit: cover;
    }
}

@media screen and (max-width: 599px) {
    .grid-container {
        border: 2px solid red;
        display: grid;
        grid-template-columns: 100%;
        justify-content: center;
        object-fit: cover;
    }
}

.grid-item {
    padding: 15px;
    padding-bottom: 5px;
    border: 2px solid black;
}

.grid-item figure {
    display: flex;
    flex-direction: column;
    border: 2px dotted blue;
}

.grid-item img {
    width: 100%;
    align-self: center;
    border: 2px solid green;
}

.padding-5 {
    padding: 5px;
}


.grid-item figcaption {
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.rotation-animation-12 {
    transition: transform 0.5s;
}

.rotation-animation-12:hover {
    transform: rotateZ(12deg);
}

.rotation-animation-10 {
    transition: transform 0.5s;
}

.rotation-animation-10:hover {
    transform: rotateZ(10deg);
}

footer {
    padding: 28px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

.blue-link a {
    color: #5050FF;
    text-decoration: none;
}

.blue-link a:visited {
    color: #5050FF;
    text-decoration: none;
}

.blue-link a:hover {
    color: dodgerblue;
    text-decoration: underline;
}