body {
    margin: 0;
}

.background-gradient {
    background-image: linear-gradient(white, lightsteelblue);
}

.main-body {
    margin: 10px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: Ubuntu;
    src: url("/fonts/Ubuntu-B.ttf"),
         url("/fonts/Ubuntu-BI.ttf"),
         url("/fonts/Ubuntu-C.ttf"),
         url("/fonts/Ubuntu-L.ttf"),
         url("/fonts/Ubuntu-LI.ttf"),
         url("/fonts/Ubuntu-M.ttf"),
         url("/fonts/Ubuntu-MI.ttf"),
         url("/fonts/Ubuntu-R.ttf"),
         url("/fonts/Ubuntu-RI.ttf"),
         url("/fonts/Ubuntu-Th.ttf");
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
}

p {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.2em;
}

table {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

table td {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
}

table td input {
    vertical-align: middle;
    font-size: 1.8rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

table tr:last-of-type td[colspan="2"] {
    text-align: center;
    font-size: 2rem;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 400px;
    width: 400px;
}

.flex-horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.fa {
    width: 50px;
    height: 50px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 10px;
    border-radius: 10%;
    font-size: 50px;
}
  
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}